html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  background-color: #09243B;
  position: relative; }

::-webkit-scrollbar {
  display: none; }

.header {
  top: 100px;
  height: 100%;
  width: 100%;
  position: relative; }
  .header .upper-container {
    /* Rectangle 6: */
    height: 100%;
    background: #09243B;
    background-size: cover;
    float: left;
    position: relative;
    z-index: 0; }
    .header .upper-container h1 {
      font-family: AvenirNext-Bold;
      font-size: 80px;
      color: #FFFFFF;
      padding-left: 25px;
      white-space: nowrap;
      overflow: hidden;
      width: 10em;
      max-width: 30em;
      margin-top: 30px;
      margin-bottom: 0px;
      animation: type 2s steps(60, end);
      transition: all 1s; }
      .header .upper-container h1:nth-child(2) {
        animation: type2 8s steps(60, end); }
      .header .upper-container h1 span {
        font-family: 'Courier';
        padding-bottom: 100px;
        font-size: 50px;
        animation: blink 1s infinite; }
@keyframes type {
  from {
    width: 0; } }
@keyframes type2 {
  0% {
    width: 0; }
  50% {
    width: 0; }
  100% {
    width: 100; } }
@keyframes blink {
  to {
    opacity: .0; } }
    .header .upper-container h2 {
      font-family: 'Abel', sans-serif;
      font-size: 45px;
      color: #B2FF39;
      padding-left: 25px;
      margin-top: 5px;
      margin-bottom: 10px;
      font-weight: 200;
      line-height: 35px;
      transition: all 1s; }

.circle {
  position: absolute;
  z-index: 1;
  width: 11em;
  height: 11em;
  background-image: url("../assets/images/km-logo3.png");
  background-size: cover;
  color: white;
  border: none;
  border-radius: 5em;
  cursor: pointer;
  outline: none;
  float: right;
  overflow: hidden;
  margin: 4% auto auto 84%; }
  .circle img {
    width: 85px;
    padding-right: 30px; }
  .circle:hover {
    background-image: url("../assets/images/face.png");
    background-size: cover; }

.lower-container {
  /* Rectangle 7: */
  height: 100%;
  width: 100%;
  margin: auto;
  background: #061622;
  position: relative;
  color: white;
  float: left;
  z-index: 1;
  overflow: hidden; }
  .lower-container h1 {
    font-family: AvenirNext-Bold;
    font-size: 70px;
    color: #B2FF39;
    padding-left: 25px;
    overflow: hidden;
    width: 10em;
    max-width: 30em;
    margin-top: 30px;
    margin-bottom: 0px; }

.lower-banner {
  height: 8.125em;
  float: left;
  width: 100%; }
  .lower-banner h1 {
    font-family: AvenirNext-Bold;
    font-size: 40px;
    color: #FFFFFF;
    margin: auto;
    text-align: center;
    padding-top: 10px; }
  .lower-banner h2 {
    font-family: 'Abel', sans-serif;
    font-size: 25px;
    width: 50%;
    color: #20172C;
    margin: auto;
    text-align: center;
    line-height: 30px; }

.automation {
  background-color: #388659;
  margin-top: 25px; }

.web {
  background-color: #52AA5E; }

.explore {
  background-color: #52AA8A; }

.tools {
  height: 150px;
  background-color: #3AADD6; }

.portfolio-banner {
  padding-top: 20px;
  height: 25%;
  width: 100%; }
  .portfolio-banner .banner {
    width: 50%;
    height: 100%; }
  .portfolio-banner h2 {
    font-family: AvenirNext-Bold;
    font-size: 40px;
    width: 40%;
    color: #FFFFFF;
    margin-top: 30px;
    overflow: hidden;
    max-width: 30em;
    margin-bottom: 0px; }
  .portfolio-banner h3 {
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    color: #B2FF39;
    margin: 0; }

.portfolio-banner-right .banner {
  float: right;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px; }
.portfolio-banner-right h2, .portfolio-banner-right h3 {
  float: left;
  padding-left: 25px; }
.portfolio-banner-right img {
  float: right; }

.portfolio-banner-left .banner {
  float: left;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px; }
.portfolio-banner-left h2, .portfolio-banner-left h3 {
  float: right;
  width: 30%; }
.portfolio-banner-left img {
  float: left; }

.p-hack {
  background-color: #99E832; }
  .p-hack img {
    width: 40%;
    height: 20%;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 8px; }

.master-next {
  background-color: #DDFE7C; }
  .master-next img {
    width: 14%;
    height: 2%;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 8px; }

.start-weekend {
  background-color: #3AADD6; }
  .start-weekend img {
    width: 14%;
    height: 2%;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 8px; }

.click-me {
  width: 10em;
  height: 10em;
  background-color: #BA1816;
  color: white;
  border: none;
  border-radius: 5em;
  cursor: pointer;
  outline: none; }

.bar {
  background: none;
  color: #fff;
  width: 100%;
  height: 4em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  text-align: center;
  transition: all 1s; }
  .bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: AvenirNext-Bold;
    font-size: 25px;
    overflow: hidden;
    text-align: center; }
    .bar ul ul {
      float: right;
      list-style-type: none; }
      .bar ul ul li a {
        color: white;
        display: block;
        text-align: center;
        margin-top: 14px;
        margin-bottom: 14px;
        margin-right: 30px;
        text-decoration: none; }
    .bar ul li {
      float: left; }
    .bar ul li a {
      color: white;
      display: block;
      text-align: center;
      text-decoration: none; }
    .bar ul li a img {
      width: 27px;
      margin-top: 19px;
      margin-bottom: 14px;
      margin-left: 30px;
      transition: 0.1s; }
    .bar ul li a img:hover:not(.active) {
      width: 32px; }
    .bar ul li a:hover:not(.active) {
      color: #B2FF39; }
    .bar ul .active {
      color: #B2FF39; }

.bar-logo {
  position: fixed;
  z-index: 3;
  width: 50px;
  height: 50px;
  background-image: url("../assets/images/km-logo3.png");
  background-size: cover;
  border: none;
  border-radius: 5em;
  cursor: pointer;
  outline: none;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 6px;
  margin-bottom: 5px;
  display: none; }
  .bar-logo a {
    width: 50px;
    height: 50px;
    display: block; }
  .bar-logo:hover {
    background-image: url("../assets/images/km-logo3-hover.png");
    background-size: cover; }

.bar-background {
  background-color: #052F4E;
  opacity: 0.90; }

.background-done {
  background-color: #09243B; }

a.anchor {
  display: block;
  position: relative;
  top: -25px;
  visibility: hidden; }

@media (max-width: 640px) {
  .upper-container {
    height: 230px; }
    .upper-container h1 {
      font-size: 40px; }
    .upper-container h2 {
      font-size: 20px; }
    .upper-container .circle {
      width: 45px;
      height: 45px; } }
@media (max-width: 320px) {
  .upper-container h1 {
    font-size: 40px; } }

/*# sourceMappingURL=style.css.map */
